body {
    background-color:#fefefe;
}
.ico {
    border-radius:11px;
    margin:0 auto 15px;
    box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.30), inset 0 3px 5px 3px rgba(0, 0, 0, 0.35);
}
#t1, #t2 {
    float:none;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: top;
}
#testo-top {
    z-index:1000;
    background-color: #fefefe;
    background: rgba(254, 254, 254, 0.85);
    width: 100%;
}
#content {
    padding-top:70px
}
.chiusura {
    margin-top:20px
}
@media (min-width:768px) {
    .ico {
        border-radius:18px
    }
}
@media (min-width:992px) {
    .ico {
        width:90%;
        margin-bottom:15px;
        border-radius:23px;
        -webkit-transition: width .5s, opacity .5s;
        -moz-transition: width .5s, opacity .5s;
        -o-transition: width .5s, opacity .5s;
        transition: width .5s, opacity .5s;
        opacity:.9;
    }
    .ico:hover {
        width:100%;
        opacity:1;
    }
    .row-ico {
        min-height:236px
    }
}
@media (min-width:1200px) {
    .row-ico {
        min-height:286px
    }
}